<footer
   style="display: flex; align-items: center; justify-content: center; height: 10vh;"
>
   <p>Copyright - 
      <a 
         target="_blank" 
         href="https://www.linkedin.com/in/simon-duperray/"
         style="color: inherit; text-decoration: underline;"
      >
         Simon Duperray
      </a>
   </p>
</footer>