<div class="card" style="width: 18rem; margin: 15px;">
   <img class="card-img-top" src="{{ asset('assets/github.png') }}" alt="Card image cap">
   <div class="card-body">
      <h5 style="color: grey;" class="card-title">{{ card_title }}</h5>
      <p style="color: grey;" class="card-text">{{ card_body }}</p>
      <a href="#" class="btn btn-primary">{{ card_btn }}</a>
   </div>
</div>