* {
  font-family: 'Nunito', cursive;
}
input:focus, textarea:focus {
  border: 2px solid #FFC107 !important;
  box-shadow: 0 0 3px #FFC107 !important;
  -moz-box-shadow: 0 0 3px #FFC107 !important;
  -webkit-box-shadow: 0 0 3px #FFC107 !important;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

div.row {
  padding-bottom: 50px!important;
}

div.card {
  background-color: #28293D;
}
a.btn.btn-primary, button.btn.btn-primary {
  background-color: inherit!important;
  border-color: #FFC107!important;
  color: #FFC107!important;
}
i.icon-social-linkedin, i.icon-social-github {
  color: #FFC107!important;
}
button.btn.btn-warning {
  margin: 10px 0;
  background-color: #FFC107;
}
/* hover */
a.btn.btn-primary:hover, button.btn.btn-primary:hover {
  background-color: #FFC107!important;
  border-color: #FFC107!important;
}
a.btn.btn-primary:hover>i, button.btn.btn-primary:hover{
  color: #1B1C27!important;
}
button.btn.btn-warning:hover {
  background-color: #FFC107;
}